<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        .main-item {
    width: 200px;
    display: block;
    margin: 0 auto;
}
    </style>
</head>
<body>
    <div class="container">
        <h1>Invoice</h1>
        <label><b>Username:</b> {{count[0]}} </label>
        <br><br>
        <label><b>Mobile No: </b> {{count[1]}} </label>
        <br><br>
        <label> <b>Address: </b> {{count[2]}} </label>
        <br><br>
        <label> <b>Email: </b> {{ count[3]}}</label>
        <br><br>
        <label><b>Order Id: </b> {{ count[4] }}</label>
        <br><br>
        <label><b>Item id: </b> {{count[5]}} </label>
        <br><br>
        <label><b> Quantity: </b> {{count[6]}}</label>
        <br><br>
        <label><b> Total Price: </b>{{ count[7]}} </label>
        <br><br>
        <label> <b>Category: </b> {{count[8]}} </label>
       
        <br><br>
        <label><b> Discription: </b>{{count[11]}} </label>
                       
    </div>
</body>
</html>
