{% extends 'home.html' %}
{% block content %}
<br>
<div class="container" >
   
    <div class="row">
       <center><label ><h1><u>Name:{{count[1]}}</u></h1></label><br></center> 
        <div class="col-md-6">
           
        <img src="{{url_for('static',filename=count[7])}}" height="550" width="550" /><br>
        </div>
            <div class="col-md-4">
                <h3><b>Discription:</b></h3><p>{{count[2]}}</p>
                <h3><b>Category:</b>{{count[4]}}</h3>
                <h3><b>Price:</b>{{count[5]}}</h3><br>     
                
            </div>
            <div class="col-md-2">
                <button class="button-522" ><a href="#">Add to cart</a></button><br><br>
                {% if session.get('user') %}
                <a href="#"><button class="button-52" >Add Review</button></a><br><br>
                <a href="#"><button class="button-52" >Read Reviews</button></a><br><br>
                {% else %}
                <a href="#"><button class="button-52" >Read Reviews</button></a>
                {% endif %}<br><br>
                <a href="#"><button class="button-52" >Back</button></a>
            </div>
    </div>

</div>
{% endblock %}


